@implements IDisposable
@inject AppState App
@inject CronusClient Cronus
@inject ILogger<ProjectionsList> Logger;

<div hidden="@(projections?.Count == 0)" class="top-row px-4">

    <div class="px-4">
        <span style="font-size:22px;">STATUS: </span>
        <span class="badge badge-success">Live</span>
        <span class="badge badge-primary">Building</span>
        <span class="badge badge-secondary">NotPresent</span>
        <span class="badge badge-danger">Timedout</span>
        <span class="badge badge-warning text-dark">Canceled</span>
    </div>
</div>

<div class="row">
    @foreach (var projection in projections)
    {
        <div class="col-sm-4 mt-4">
            <ProjectionCard Projection="@projection" SelectedVersion="@SelectedVersion"></ProjectionCard>
        </div>
    }
</div>

@code {
    [Parameter]
    public ProjectionVersion SelectedVersion { get; set; }

    private System.Threading.Timer timer;

    List<Projection> projections = new List<Projection>();

    protected override async Task OnInitializedAsync()
    {
        App.OnChange += StateHasChanged;
        App.OnConnectionChanged += GetProjectionsListAsync;
        App.OnVersionSelected += SelectVersion;

        await GetProjectionsListAsync(App.Connection);

        timer = new System.Threading.Timer(_ => InvokeAsync(() => GetProjectionsListAsync(App.Connection)), null, 0, 50000);
    }

    protected async Task GetProjectionsListAsync(Connection connection)
    {
        try
        {
            projections = new List<Projection>();

            if (App.Connection is null == false || connection is null == false)
            {
                var result = await Cronus.GetProjectionsAsync(connection ?? App.Connection);
                projections = result.Result.Projections;
            }
        }
        finally
        {
            StateHasChanged();
        }
    }

    void IDisposable.Dispose()
    {
        timer?.Dispose();
        timer = null;
    }

    private Task SelectVersion(ProjectionVersion version)
    {
        SelectedVersion = version;
        Logger.LogInformation(SelectedVersion.ToString());
        return Task.CompletedTask;
    }
}
