@page "/connections"
@inherits ConnectionsBase

<NavLink href="connection">
    <span class="glyphicon glyphicon-plus"></span> New Connection
</NavLink>

<h1>Available Connections</h1>

@foreach (var connection in connections)
{
    <div>@connection.Name</div>
}
