@page "/connection"
@inherits ConnectionBase

<h1>New Connection</h1>

<fieldset>
    <div><label>Name: <br /> <input type="text" name="friendlyName" bind="@name" /></label></div>
    <div><label>Cronus Endpoint: <br /> <input type="url" name="cronusUrl" bind="cronusEndpoint" /></label></div>
</fieldset>
<fieldset>
    <legend> Authorization </legend>
    <div><label>Server <br /> <input type="url" name="oAuthUrl" /></label></div>
    <div><label>Client <br /> <input type="text" name="oAuthClient" /></label></div>
    <div><label>Secret <br /> <input type="password" name="oAuthSecret" /></label></div>
</fieldset>

<button class="btn btn-primary" onclick="@AddConnection">Add Connection</button>
