@page "/connections"
@inherits ConnectionsBase

<NavLink href="connection">
    <span class="oi oi-plus"></span> New Connection
</NavLink>

<h1>Available Connections</h1>

@foreach (var connection in connections)
{
    <div>
        @connection.Name
        <NavLink href="connection">
            <span class="oi oi-cog"></span>
        </NavLink>
    </div>
}
