@inherits ConnectionSelectorBase
<div>
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @ConnectionName
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        @foreach (var connection in connections)
        {
            <a class="dropdown-item cursor-pointer" @onclick="@(async () => await OnConnectionClick(connection))">@connection.Name</a>
        }
    </div>
    <div class="btn-group connection">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @TenantName
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            @foreach (var oAuth in oAuths)
            {
                <a class="dropdown-item cursor-pointer" @onclick="@(async () => await OnAuthSelected(oAuth))">@oAuth.Tenant</a>
            }
        </div>
    </div>
</div>
