@page "/domain-gateways"
@inject AppState App
@inject CronusClient Cronus
@inject IJSRuntime JSRuntime

<h2>Gateways</h2>

<div>

    <MudTable Items="@Domain?.Gateways" PageLabel="dfjgh" LoadInitialData="true" FilterByColumnName="Name" PageSize="9999" ShowPaging="false" Striped="false" MultiSelection="false" AllowSelection="true" Elevation="3">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>ID</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd>@context.Id</MudTd>
        </RowTemplate>
    </MudTable>
</div>

    @code {
    DomainDto Domain { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Domain = await Cronus.GetDomainAsync(@App.Connection);
    }
    }
