@page "/eventstore"
@inject AppState App
@inject CronusClient Cronus

<div>
    <h1>
        <span class="oi oi-book" aria-hidden="true"></span>
        Event Store
    </h1>
</div>

<input type="text" bind="@aggregateId" />
<IconButton Icon="magnifying-glass" Click="@(async ()=> await GetAggregateAsync())"></IconButton>


@functions{
    string aggregateId = "";

    async Task GetAggregateAsync()
    {
        var asd = await Cronus.GetAggregate(App.Connection, aggregateId);
    }

}
