@page "/projections"
@inject LocalStorage LocalStorage
@inject ILogger<LocalStorage> Log

<h1>Projections</h1>

<div class="btn-group">
    <button type="button" class="btn btn-primary">@GetCurrentConnectionName()</button>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var connection in connections)
        {
            <span class="dropdown-item" onclick="@(async ()=> await OnClick(connection))">@connection.Name</span>
        }
    </div>
</div>

<ProjectionsList Connection="@CurrentConnection"></ProjectionsList>


@functions{

    Connection CurrentConnection;
    List<Connection> connections = new List<Connection>();
    protected override async Task OnInitAsync()
    {
        connections = await LocalStorage.GetItem<List<Connection>>(LSKey.Connections);
    }

    Task OnClick(Connection connection)
    {
        CurrentConnection = connection;
        StateHasChanged();

        return Task.CompletedTask;
    }

    string GetCurrentConnectionName()
    {
        return CurrentConnection?.Name ?? "Select Connection...";
    }
}
