@if (Projection.IsLive)
{
    <div class="col-sm-4" style="margin-bottom: 1rem; min-width:30rem">
        <div class="card">
            <div class="card-header">
                <div class="text-left" style="float:left">
                    <span class="badge badge-success">Live</span>
                    <span>@Projection.projectionName</span>
                    <div>
                        <span style="font-size:smaller"><cite>@Projection.projectionContractId</cite></span>
                    </div>
                </div>
                <div class="text-right" style="float:right">
                    <IconButton Icon="layers" ToolTip="Versions"></IconButton>
                    <IconButton Icon="loop-square" ToolTip="Rebuild"></IconButton>
                </div>

            </div>
        </div>
    </div>
}
else
{
    <div>
        <div class="card bg-primary text-white">
            <div class="card-header">
                <h5>@Projection.projectionName</h5>
            </div>
            <div class="card-body">
                <cite>@Projection.projectionContractId</cite>
            </div>
        </div>
    </div>
}

@functions{

    [Parameter]
    protected Projection Projection { get; set; }
}
