@inherits BlazorLayoutComponent

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4" style="z-index:100">
        <ConnectionSelector />
        <a href="https://github.com/Elders/Cronus" target="_blank" class="ml-md-auto">About Cronus</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
