@inherits LayoutComponentBase

<MatAppBarContainer Style="width:100%">
    <MatAppBar>
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu"></MatIconButton>
                <MatAppBarTitle>Cronus Dashboard &nbsp;</MatAppBarTitle>
                <ConnectionSelector />
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <MatIconButton Icon="favorite" Link="https://github.com/Elders/Cronus"></MatIconButton>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                    <MatNavMenu>
                        <MatNavItem href="connections"><MatIcon Icon="bolt"></MatIcon>&nbsp; Connections </MatNavItem>
                        <MatDivider></MatDivider>
                        <MatNavSubMenu Expanded="true">
                            <MatNavSubMenuHeader>
                                <MatNavItem AllowSelection="false"><MatIcon Icon="wb_sunny"></MatIcon>&nbsp; Domain</MatNavItem>
                            </MatNavSubMenuHeader>
                            <MatNavSubMenuList>
                                <MatNavItem Href="domain-aggregates">&nbsp; Aggregates</MatNavItem>
                                <MatNavItem Href="domain-gateways">&nbsp; Gateways</MatNavItem>
                                <MatNavItem Href="domain-ports">&nbsp; Ports</MatNavItem>
                                <MatNavItem Href="domain-projections">&nbsp; Projections</MatNavItem>
                                <MatNavItem Href="domain-sagas">&nbsp; Sagas</MatNavItem>
                                <MatNavItem>&nbsp; Triggers</MatNavItem>
                            </MatNavSubMenuList>
                        </MatNavSubMenu>
                        <MatDivider></MatDivider>
                        <MatNavItem href="eventstore"><MatIcon Icon="book"></MatIcon>&nbsp; Event Store </MatNavItem>
                        <MatDivider></MatDivider>
                        <MatNavItem href="indices"><MatIcon Icon="rowing"></MatIcon>&nbsp; Indices </MatNavItem>
                        <MatDivider></MatDivider>
                        <MatNavItem href="projections"><MatIcon Icon="dashboard"></MatIcon>&nbsp; Projections </MatNavItem>
                        <MatDivider></MatDivider>
                        <MatNavItem href="replay-public"><MatIcon Icon="publish"></MatIcon>&nbsp; Replay Public Event </MatNavItem>
                        <MatDivider></MatDivider>
                    </MatNavMenu>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-10">
                    @Body
                </div>
            </div>
        </div>
    </MatAppBarContent>
</MatAppBarContainer>

